<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css"">
</head>
<body>
    <h1>This is a test to display stock data!</h1>
    <p> 
        Look at this: <%= apple.name %>: <%= apple.price %>!
        Look at this: <%= amazon.name %>: <%= amazon.price %>!
        Look at this: <%= walmart.name %>: <%= walmart.price %>!
    </p>
</body>
</html>